<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Главная страница</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <a class="ui primary basic button" href="{% url "profile" %}">
            <h1>Пользователь: {{request.user.username}}|</h1>
        </a>
        |
        <a class="ui primary basic button" href="{% url "logout" %}">
            Выйти
        </a>
    {% else %}
        <bdi>
            <a class="ui primary basic button" href="{% url "register" %}">Регистрация</a>
            |
            <a class="ui primary basic button" href="{% url "login" %}">Войти</a>
        </bdi>
    {% endif %}
    <a class="ui primary basic button" href="{% url "tasks" %}">/////////////////////////  Добавить новую задачу|</a>
<h1>-------------------------------------------------------------------------------------------</h1>

{% block login %}

{% endblock %}

{% block content %}

{% endblock %}

{% block main %}

{% endblock %}

{% block prof %}

{% endblock %}

{% for task in tasks %}
    <div class="ui segment">
        <h>-------------------------------------------------------------------------------------------</h>
        <p class="ui big header">№{{ task.pk }} {{ task.title }} Участники:
            {% for user in task.users.all %}
                {{ user }}
            {% endfor %}
        </p>
        {% if not task.is_complete %}
            <span class="ui gray label">Не завершено </span>
            <a class="ui primary basic button" href="{% url "update_task" task_pk=task.pk %}">Закрыть</a>
        {% else %}
            <span class="ui green label">Завершено</span>
            <a class="ui blue button" href="{% url "update_task" task_pk=task.pk %}">Открыть</a>
        {% endif %}
        <a class="ui negative basic button" href="{% url "delete_task" task_pk=task.pk %}">Удалить</a>
        {% if task not in request.user.tasks.all %}
            <a class="ui negative basic button" href="{% url "add_user" task_pk=task.pk user_pk=request.user.pk %}">Присоединиться</a>
        {% else %}
            <a class="ui negative basic button" href="{% url "remove_user" task_pk=task.pk user_pk=request.user.pk %}">Выйти из состава участников</a>
        {% endif %}
    </div>
{% endfor %}
</body>
</html>